@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #52b235;
}

#save {
    display: none;
    margin: 10px;
    text-align: center;
}

#save button {
    width: 150px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: orange;
    font-size: 20px;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
}

.flower-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flower {
    max-width: 200px;
    padding: 5px;
    text-align: center;
    background-color: burlywood;
    border-radius: 4px;
}

.flower-buttons button:nth-child(1) {
    font-size: 20px;
    color: white;
    background-color: orange;
    border: 1px solid #000;
    border-radius: 4px;
}

.flower-buttons button:nth-child(2) {
    display: none;
    background-color: red;
    border-radius: 5px;
    border: 1px solid black;
}

.flower-buttons span {
    display: none;
}

.flower-buttons button:nth-child(4) {
    display: none;
    background-color: rgb(43, 171, 43);
    border-radius: 5px;
    border: 1px solid black;
}
